@use "../../styles/variables.scss" as v;

.title {
  font-weight: bold;
  font-size: 100px;
  color: white;

  margin: 0;
  padding: 0;

  span {
    font-weight: 400;

    font-size: 60px;
    color: v.$text-secondary-color;
  }
}

.subTitleText {
  font-size: 17px;
  margin-top: 40px;

  line-height: 1.3;

  color: v.$text-primary-color;

  font-weight: 300;
}
