@use "../../styles/variables.scss" as v;

.mainInfo {
  display: flex;
  justify-content: space-between;
}

.titleText {
  padding-left: 78px;
  padding-top: 30px;
  width: 500px;
}

.imageCont {
  img {
    clip-path: polygon(
      0 0,
      /* Левый верхний угол */ 100% 0,
      /* Правый верхний угол */ 100% 100%,
      /* Правый нижний угол */ 0 100%,
      /* Левый нижний угол */ 10% 50%
        /* Вершина треугольника (направлена внутрь) */
    );
  }
}

.matchesInfo {
  padding: 20px 78px 0px 78px;
}

.filters {
  display: flex;
  gap: 40px;
}
