@use "../../styles/variables.scss" as v;

.arrow {
  color: transparent;

  background-color: transparent;

  border: none;

  cursor: pointer;

  transition: opacity 0.3s;

  &:hover {
    scale: (1.05);
  }

  &:active {
    scale: (0.9);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
