/* ===== Colors ===== */
$primary-color: #01102D;
$nav-footer-color: #011230;
$text-primary-color: #ffffff;
$text-secondary-color: #15E0A1;
$border-nav-footer-color: #172A48;
$btn-text-color: #1A1A2E;
$live-back-color: #D11133;
$live-text-color: #C7BABE;
$lang-no-active-color: #949494;


/* ===== Typography ===== */
$title-size: 110px;
$nav-font-size: 20px;
$registration-search-font-size: 24px;
$logo-text-size: 28px;

$border-radius-btn: 20px;

$main-text-style: 'Roboto';